<div class="wrapper">
    <div class="auth">
        <form (submit)="formSubmitHandler()">
            <app-switch [options]="['ورود', 'ثبت‌نام']" [(selectedIndex)]="selectedIndex"></app-switch>
            <input *ngIf="!loginWithEmail" type="text" name="username" placeholder="نام کاربری" required />
            <input *ngIf="loginWithEmail" type="email" name="email" placeholder="ایمیل" required />
            <input type="password" name="password" placeholder="کلمه عبور" required />

            <div class="button-bar">
                <app-shiny-button [text]="isInLoginView ? 'ورود' : 'ثبت‌نام'"> </app-shiny-button>
                <app-shiny-button
                    *ngIf="isInLoginView"
                    [text]="secondaryLoginButtonText"
                    (click)="loginWithEmail = !loginWithEmail"
                >
                </app-shiny-button>
            </div>
        </form>
        <img src="assets/images/auth-bg.webp" alt="تصویر کنار فرم ورود ثبت نام" />
    </div>
</div>
