.wrapper {
    color: var(--color-default-text);

    display: grid;
    place-items: center;

    block-size: 100%;

    .auth {
        background-color: var(--color-background-lighter);

        overflow: hidden;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        min-block-size: 25rem;

        block-size: 70%;

        min-inline-size: 50rem;

        inline-size: 70%;

        border-radius: var(--border-radius-more);

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            block-size: 100%;

            inline-size: 40%;

            padding: 1rem;

            input {
                background-color: var(--color-gray-90);

                inline-size: 100%;

                padding: 0.45rem 0.65rem;

                border-radius: var(--border-radius-more);
            }

            .first-last {
                display: flex;
                gap: 0.5rem;
            }

            app-shiny-button {
                margin-inline: auto;
            }

            #primary-button {
                margin-block-start: auto;
            }
        }

        img {
            block-size: 100%;
            max-inline-size: 60%;
            aspect-ratio: 16/13;
            object-fit: cover;
            object-position: 50%;
        }
    }
}
