<div class="wrapper">
    <div class="auth">
        <form (submit)="formSubmitHandler()">
            <app-switch
                [options]="['ورود', 'ثبت‌نام']"
                [(selectedIndex)]="selectedIndex"
                (selectedIndexChange)="resetFields()"
            ></app-switch>

            <input
                *ngIf="!loginWithEmail"
                type="text"
                name="username"
                placeholder="نام کاربری"
                required
                [(ngModel)]="username"
            />
            <input
                *ngIf="loginWithEmail || !isInLoginView"
                type="email"
                name="email"
                placeholder="ایمیل"
                required
                [(ngModel)]="email"
            />
            <input type="password" name="password" placeholder="کلمه عبور" required [(ngModel)]="password" />
            <input
                *ngIf="!isInLoginView"
                type="password"
                name="confirm"
                placeholder="تکرار کلمه عبور"
                required
                [(ngModel)]="confirm"
            />
            <div *ngIf="!isInLoginView" class="first-last">
                <input type="text" name="first-name" placeholder="نام" [(ngModel)]="firstName" />
                <input type="text" name="last-name" placeholder="نام‌خانوادگی" [(ngModel)]="lastName" />
            </div>
            <app-shiny-button id="primary-button" [text]="isInLoginView ? 'ورود' : 'ثبت‌نام'"> </app-shiny-button>
            <app-shiny-button
                *ngIf="isInLoginView"
                [text]="secondaryLoginButtonText"
                (click)="loginWithEmail = !loginWithEmail"
            >
            </app-shiny-button>
        </form>
        <img src="assets/images/auth-bg.webp" alt="تصویر کنار فرم ورود ثبت نام" />
    </div>
</div>
