#slides {
    --margin-right: 100px;
    display: flex;
    flex-direction: row;
    width: calc(100% - var(--margin-right));
    overflow: hidden;
    gap: 6vw;
    padding-top: 75px;
    margin-right: var(--margin-right);
}

#bullets {
    display: flex;
    gap: 1rem;
    padding: 1%;
    margin-right: 100px;

    i {
        background-color: hsl(0, 0%, 16%);
        box-shadow: 0 0 4px 2px hsl(0, 0%, 81%);
        display: block;
        width: 1em;
        height: 1em;
        border-radius: 1em;
        font-size: 0.6rem;
        transition: background-color, width ease-in 300ms;
        cursor: pointer;

        &.current {
            background-color: hsl(0, 0%, 81%);
            width: 2em;
        }
    }
}
