<div id="slides-wrapper">
    <div id="slides">
        <app-carousel-item
            *ngFor="let game of games"
            [game]="game"
            [currentIndex]="currentIndex"
            (mouseenter)="clearInterval()"
            (mouseleave)="setupInterval()"
        >
        </app-carousel-item>
    </div>
    <div class="fade-overlay"></div>
    <i
        id="next-slide-button"
        class="far fa-angle-left"
        title="اسلاید بعد"
        (click)="setIndexByClick(currentIndex + 1)"
    ></i>
    <div id="bullets">
        <i *ngFor="let _ of games; index as i" (click)="setIndexByClick(i)" [title]="'انتخاب اسلاید ' + i"></i>
    </div>
</div>
