footer {
    background-color: var(--color-background-5);
    color: var(--color-background-85);

    display: grid;
    grid-template-columns: 7.5rem 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    padding: 1rem;

    font-weight: bold;

    * {
        grid-row: 1;
    }

    p {
        justify-self: center;

        grid-column: 1 / span 3;
    }

    app-button {
        grid-column: 3;
    }
}
