.content-wrapper {
    background-color: hsl(240deg 75% 11%);
    color: hsl(14deg 69% 58%);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;

    font-weight: bold;

    .top-row {
        align-self: end;

        button {
            background-color: hsl(14deg 69% 58%);
            color: hsl(0deg 0% 0%);

            padding: 0.25rem;

            border-radius: 0.25rem;

            font-weight: bolder;

            cursor: pointer;
        }
    }

    .copyright {
        align-items: center;
    }
}
