.content-wrapper {
    background-color: hsl(240deg 75% 11%);
    color: var(--color-background-lightest);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;

    font-weight: bold;

    .top-row {
        align-self: end;
    }

    .copyright {
        align-items: center;
    }
}
