.content-wrapper {
    font-family: Noto sans Arabic;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(240, 75%, 11%);
    color: hsl(14, 69%, 58%);
    padding-bottom: 2rem;
    .top-row {
        margin-right: auto;
        margin-left: 1rem;
        margin-top: 1rem;
        button {
            background-color: hsl(14, 69%, 58%);
            border-radius: 0.25rem;
            color: black;
            padding: 0.25rem;
            font-family: Noto sans Arabic;
            font-weight: bolder;
            cursor: pointer;
        }
    }
    .column {
        justify-items: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;
        .bold {
            font-size: 3rem;
        }
        .social-medias {
            display: flex;

            flex-direction: row;
            align-items: flex-start;
            gap: 3rem;

            list-style: none;

            font-size: 3.2rem;
            i {
                color: 	hsl(287, 69%, 58%);
                transition: 0.3s;
            }
            i:hover {
                color: 	hsl(283, 48%, 66%);
            }
        }
    }
    .copyright {
        align-items: center;
    }
}
