.wrapper {
    background-color: var(--color-background-lightest);
    color: hsl(16deg 100% 61%);

    display: flex;
    justify-content: space-evenly;
    gap: 2rem;

    padding: 0.4rem;

    border-radius: 2rem;

    font-weight: 700;

    div {
        block-size: 100%;
        inline-size: 50%;

        padding: 0.25rem;

        border-radius: 2rem;

        text-align: center;

        cursor: pointer;

        &:not(.current):hover {
            background-color: hsl(16deg 100% 80%);
        }
    }

    .current {
        background-color: hsl(16deg 100% 61%);
        color: hsl(0deg 0% 93%);
    }
}
