.wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    border-radius: 2rem;
    justify-content: space-evenly;
    padding: 0.4rem;
    background-color: var(--color-background-lightest);
    div {
        border-radius: 2rem;
        width: 50%;
        height: 100%;
        text-align: center;
        cursor: pointer;
        padding: 0.25rem;
    }
    .current {
        background-color: red;
    }
}
