.wrapper {
    background-color: var(--color-background-lightest);
    color: var(--color-default-text);

    display: flex;
    justify-content: space-evenly;
    gap: 2rem;

    padding: 0.4rem;

    border-radius: 2rem;

    button {
        background-color: transparent;
        color: var(--color-default-text);

        block-size: 100%;
        inline-size: 50%;

        padding: 0.25rem;

        border: none;

        border-radius: 2rem;

        font-weight: 700;

        text-align: center;

        cursor: pointer;

        &:not(.active):hover {
            background-color: var(--color-background-hover);
        }

        &.active {
            background-color: var(--color-default-text);
            color: var(--color-gray-98);
        }
    }
}

