header {
    .topbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-block-start: 0.5rem;
        padding-inline-end: 2rem;
        padding-inline-start: 4.5rem;
        gap: 2rem;

        a {
            color: hsl(0, 0%, 100%);
            text-decoration: none;
            font-size: 1.5rem;

            &:hover {
                color: hsl(14, 69%, 58%);
            }
        }

        #search {
            margin-right: auto;
        }

        .logo {
            width: 6rem;
        }
    }
}
