header {
    #groups {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    a {
        text-decoration: none;
        font-size: 1.5rem;
        color: 	hsl(0, 3%, 64%);
        display: block;
        transition: 0.3s;
    }
    a:hover {
        color: rgb(222, 107, 73);
    }
    .group {
        display: flex;
        flex-direction: row;
        gap: 9rem;
        align-items: center;
        a:hover {
            color: 	hsl(246, 82%, 24%);
        }

        a {
            font-size: 2rem;
            margin-left: 2rem;
            color: hsl(266, 71%, 37%);
        }
    }

    .discover {
        &:nth-child(1n) {
            margin-bottom: 0.5rem;
        }
        font-family: Noto sans Arabic;
        align-items: flex-start;
        margin-right: 6rem;
        display: flex;
        gap: 4rem;
    }
}
