header {
    nav {
        color: var(--color-gray-98);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        padding-block-start: 0.5rem;

        font-size: 1.25rem;

        a:not(.icon-button) {
            color: inherit;

            display: flex;

            padding: 0.5rem;

            text-decoration: none;

            &:hover {
                color: var(--color-default-text);

                cursor: pointer;
            }
        }

        .icon-button {
            color: var(--color-gray-98);

            display: flex;

            padding: 0.5rem;

            border-radius: var(--border-radius-small);

            text-decoration: none;

            &:hover {
                background-color: var(--color-background-20);

                cursor: pointer;
            }
        }

        app-search-box {
            min-inline-size: 5rem;
            inline-size: 40%;

            margin-inline-start: auto;
        }

        app-logo {
            inline-size: 7rem;
        }
    }
}
