<header>
    <nav>
        <app-logo></app-logo>
        <a routerLink="/">خانه</a>
        <a routerLink="/browse">دسته‌بندی‌ها</a>
        <app-search-box></app-search-box>

        <ng-container *ngIf="isLoggedIn; else auth">
            <app-profile-button></app-profile-button>
        </ng-container>

        <ng-template #auth>
            <a routerLink="/auth">
                <app-button
                    theme="outline"
                    text="ورود | ثبت نام"
                    iconClasses="far fa-arrow-right-to-bracket"
                ></app-button>
            </a>
        </ng-template>

        <a *ngIf="isLoggedIn" routerLink="/cart" class="icon-button">
            <i class="far fa-cart-shopping"></i>
        </a>
    </nav>
</header>
