header {
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        padding-block-start: 0.5rem;
        padding-inline-start: 5rem;
        padding-inline-end: 2rem;

        a {
            color: hsl(0deg 0% 100%);

            font-size: 1.5rem;

            text-decoration: none;

            &:hover {
                color: hsl(14deg 69% 58%);
            }
        }

        app-search-box {
            margin-inline-start: auto;
        }

        .logo {
            inline-size: 6rem;
        }
    }
}
