input {
    width: 25rem;
    height: 1.5rem;
    background-color: hsl(0, 2%, 80%);
    border-radius: 0.5rem;
    font-family: Noto sans Arabic, serif;
    font-weight: bold;
    padding: 1rem 0.5rem;
    border: none;
}
input:focus {
    outline: none;
}
.input-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: text;

    i {
        color: hsl(16, 100%, 66%);
        margin-left: 0.5rem;
        font-size: 1.5rem;
    }
}
