<form>
    <app-input
        type="text"
        name="username"
        label="نام کاربری"
        direction="ltr"
        [required]="true"
        [(value)]="username"
    ></app-input>
    <app-input type="email" name="email" label="ایمیل" direction="ltr" [required]="true" [(value)]="email"></app-input>
    <app-input
        type="password"
        name="password"
        label="رمزعبور"
        direction="ltr"
        [required]="true"
        [(value)]="password"
    ></app-input>
    <app-input
        type="password"
        name="confirm"
        label="تکرار رمزعبور"
        direction="ltr"
        [required]="true"
        [(value)]="confirm"
    ></app-input>

    <div class="first-last-name">
        <app-input type="text" name="given-name" label="نام" [(value)]="firstName"></app-input>
        <app-input type="text" name="family-name" label="نام‌خانوادگی" [(value)]="lastName"></app-input>
    </div>

    <div class="button-bar">
        <app-button text="ثبت نام" (click)="formSubmitHandler()"></app-button>
    </div>
</form>
