.slide {
    --current-index: 0;

    --width: 65vw;

    position: relative;

    max-block-size: 55vh;

    inline-size: var(--width);

    aspect-ratio: 16 / 9;

    transform: translateX(calc(var(--current-index) * (var(--width) + 6vw)));

    transition: transform ease-in 300ms;

    .image {
        position: absolute;

        block-size: 100%;

        inline-size: 100%;
        object-fit: cover;
        object-position: 50% 15%;

        border-radius: 3em;
    }

    .details {
        background: hsl(0deg 0% 0% / 50%);
        color: hsl(0deg 0% 100%);
        opacity: 0;

        position: absolute;
        inset-block-end: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1rem;

        inline-size: 100%;

        padding: 1.5rem 2rem;

        border-radius: 0 0 3em 3em;

        font-size: 1em;

        transition: opacity 400ms 50ms;

        .description {
            min-inline-size: 0;
            inline-size: 100%;

            span {
                overflow: hidden;

                display: inline;
                display: -webkit-box;

                text-overflow: ellipsis;
                word-wrap: break-word;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }

        app-shiny-button {
            align-self: end;
        }
    }

    .rating {
        background-color: hsl(235deg 35% 14%);
        color: hsl(0deg 0% 100%);

        box-sizing: border-box;

        position: absolute;
        inset-block-start: 0;
        inset-inline-end: 0;
        z-index: 1;

        display: grid;
        place-items: center;

        block-size: 10rem;

        inline-size: 10rem;

        padding-block-start: 2.5%;

        border-radius: 50%;

        transform: translate(-30%, -30%);

        font-size: 5rem;

        font-weight: bold;
    }

    &:hover {
        .details {
            opacity: 1;
        }
    }
}
