<div [id]="game.subtitle" [style.--current-index]="currentIndex">
    <img id="bg" [src]="game.imageData.background" [alt]="game.title" />
    <img id="overlay" [src]="game.imageData.overlay" alt="" />
    <img id="title-img" [src]="game.imageData.title" alt="" />
    <div id="details">
        <p id="description">{{ game.description }}</p>
        <div class="button-bar">
            <button class="shiny-button" id="cart">
                <span>
                    اضافه به سبد خرید
                    <i class="fa-solid fa-cart-circle-plus"></i>
                </span>
            </button>
        </div>
    </div>
    <div id="rating">
        {{ game.avgRating.toFixed(1) }}
    </div>
</div>
