@import "src/styles";

.slide {
    --current-index: 0;

    --width: 65vw;

    position: relative;

    max-block-size: 55vh;
    inline-size: var(--width);
    aspect-ratio: 16 / 9;

    transform: translateX(calc(var(--current-index) * (var(--width) + var(--slides-gap))));

    transition: transform ease-in 300ms;

    img {
        position: absolute;

        min-block-size: 100%;
        block-size: 100%;
        inline-size: 100%;
        object-fit: cover;
        object-position: 50% 15%;

        border-radius: var(--border-radius-big);

        cursor: pointer;
    }

    .details {
        background: hsl(0deg 0% 0% / 70%);
        color: var(--color-gray-98);

        position: absolute;
        inset-block-end: 0;

        display: grid;
        grid-template-areas:
            "title release-date"
            "summary summary"
            "buttons rating";
        grid-template-columns: 1fr auto;
        gap: 1rem;

        min-block-size: 45%;
        inline-size: 100%;

        padding: 1.5rem 2rem;

        border-radius: 0 0 var(--border-radius-big) var(--border-radius-big);

        font-size: 1em;

        transition: opacity 400ms 50ms;

        .name {
            grid-area: title;

            padding-block-end: 0.5rem;
        }

        .release-date {
            grid-area: release-date;

            color: var(--primary-color);
        }

        p {
            grid-area: summary;

            min-inline-size: 0;
            inline-size: 100%;

            @include max-lines(2);
        }

        .rating-bar {
            grid-area: rating;

            display: flex;
            flex-direction: column;
            align-items: center;

            font-size: 0.8rem;

            div {
                display: flex;
                align-items: baseline;
                gap: 0.2rem;
            }

            .fa-star {
                color: var(--color-star);
            }

            b,
            .fa-star {
                font-size: 1rem;
            }
        }

        .button-bar {
            --font-size: 0.8rem;

            grid-area: buttons;

            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1rem;

            padding-inline-end: 2rem;
        }
    }
}
