<div class="slide" [style.--current-index]="currentIndex">
    <img id="image" [src]="game.sliderImageAddress" [alt]="game.title" />
    <div id="details">
        <div id="description">
            <span>{{ game.description }}</span>
        </div>
        <button class="shiny-button">
            <span>
                اضافه به سبد خرید
                <i class="fa-solid fa-cart-circle-plus"></i>
            </span>
        </button>
    </div>
    <div id="rating">
        {{ game.avgRating.toFixed(1) }}
    </div>
</div>
