<form>
    <app-input
        *ngIf="!loginWithEmail"
        type="text"
        name="username"
        label="نام کاربری"
        [required]="true"
        [(value)]="username"
    ></app-input>
    <app-input
        *ngIf="loginWithEmail"
        type="email"
        name="email"
        label="ایمیل"
        [required]="true"
        [(value)]="email"
    ></app-input>
    <app-input type="password" name="password" label="رمزعبور" [required]="true" [(value)]="password"></app-input>

    <div class="button-bar">
        <app-shiny-button text="ورود" (click)="formSubmitHandler()"></app-shiny-button>

        <app-shiny-button
            [text]="this.loginWithEmail ? 'ورود با نام کاربری' : 'ورود با ایمیل'"
            type="outline"
            (click)="toggleLoginEmail()"
        ></app-shiny-button>
    </div>
</form>
