<form (submit)="formSubmitHandler()">
    <app-input
        *ngIf="!loginWithEmail"
        type="text"
        name="username"
        label="نام کاربری"
        direction="ltr"
        [required]="true"
        [(value)]="username"
    ></app-input>

    <app-input
        *ngIf="loginWithEmail"
        type="email"
        name="email"
        label="ایمیل"
        direction="ltr"
        [required]="true"
        [(value)]="email"
    ></app-input>

    <app-input
        type="password"
        name="password"
        label="رمزعبور"
        direction="ltr"
        [required]="true"
        [(value)]="password"
    ></app-input>

    <div class="button-bar">
        <app-button text="ورود" buttonType="submit"></app-button>

        <app-button
            theme="outline"
            buttonType="reset"
            [text]="this.loginWithEmail ? 'ورود با نام کاربری' : 'ورود با ایمیل'"
            (click)="toggleLoginEmail()"
        ></app-button>
    </div>
</form>
