.input-wrapper {
    position: relative;

    input {
        background-color: transparent;
        color: var(--color-background-85);

        inline-size: 100%;

        padding: 0.65rem;

        border: solid 1px var(--color-background-85);
        border-radius: var(--border-radius-small);
    }

    label {
        background-color: var(--color-background-20);
        color: var(--color-background-85);

        position: absolute;
        inset-block-start: -0.6rem;
        inset-inline-start: 0.5rem;

        padding-inline: 0.25rem;

        font-size: 0.75rem;
    }
}
