.input-wrapper {
    --background-color: var(--color-background-20);
    --border-color: var(--color-background-85);

    position: relative;

    input {
        background-color: var(--background-color);
        color: var(--border-color);

        inline-size: 100%;

        padding: 0.65rem;

        border: solid 1px var(--border-color);
        border-radius: var(--border-radius-small);

        &:autofill {
            &,
            &:hover,
            &:focus {
                -webkit-text-fill-color: var(--border-color);

                box-shadow: 0 0 0 100rem var(--background-color) inset;
            }
        }

        &:-webkit-autofill {
            &,
            &:hover,
            &:focus {
                /* stylelint-disable property-no-vendor-prefix */
                -webkit-box-shadow: 0 0 0 100rem var(--background-color) inset;
                -webkit-text-fill-color: var(--border-color);
                /* stylelint-enable property-no-vendor-prefix */
            }
        }
    }

    label {
        background-color: var(--background-color);
        color: var(--border-color);

        position: absolute;
        inset-block-start: -0.6rem;
        inset-inline-start: 0.5rem;

        padding-inline: 0.25rem;

        font-size: 0.75rem;
    }
}
