.input-wrapper {
    position: relative;

    input {
        background-color: transparent;
        color: var(--color-background-lightest);

        inline-size: 100%;

        padding: 0.65rem;

        border: solid 1px var(--color-background-lightest);
        border-radius: var(--border-radius);
    }

    label {
        background-color: var(--color-background-lighter);
        color: var(--color-background-lightest);

        position: absolute;
        top: -0.6rem;
        right: 0.5rem;

        padding-inline: 0.25rem;

        font-size: 0.75rem;
    }
}
