.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;

    .bold {
        font-size: 3rem;
    }

    .social-medias {
        display: flex;

        flex-direction: row;
        align-items: flex-start;
        gap: 3rem;

        list-style: none;

        font-size: 3.2rem;

        i {
            color: hsl(287deg 69% 58%);

            &:hover {
                color: hsl(283deg 48% 66%);
            }
        }
    }
}
