.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.stack {
    position: relative !important;

    & > .item {
        position: absolute !important;
    }
}

* {
    font-family: "Yekan", fantasy;
}

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    font-family: "Vazirmatn", sans-serif;
    font-size: 62.5%;

    scroll-behavior: smooth;
}

body {
    background-color: var(--color--body-background);
    color: var(--color--body-foreground);

    font-size: 1.6rem;

    popper-content {
        .ngxp__container {
            background-color: var(--color--body-background);
            color: var(--color--body-foreground);
            box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1), 0 5px 8px 0 rgba(0, 0, 0, 0.04),
                0 1px 14px 0 rgba(0, 0, 0, 0.02);

            z-index: 1;

            padding: 0;

            border: 0;

            > .ngxp__arrow {
                &:before {
                    background-color: var(--color--body-background);
                }
            }
        }

        &.no-arrow {
            .ngxp__container > .ngxp__arrow {
                display: none;
            }
        }
    }
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
    font-family: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;

    display: block;

    text-decoration: none;
}

button,
.button {
    background-color: transparent;

    border: none;

    font: inherit;
    text-align: start;

    cursor: pointer;

    &:not(.reset) {
        display: flex;
        align-items: center;
        gap: 1rem;

        width: fit-content;

        padding: 1rem;

        border-radius: var(--border-radius);

        text-align: center;
        line-height: 1;

        &:hover {
            background-color: var(--color-gray-95);
        }
    }
}

img {
    display: block;
}

svg {
    fill: currentColor;

    display: block;

    width: 1em;
    height: 1em;
}

.content-wrapper {
    --full-width: 160rem;
    --full-width-padding-inline: max((100% - var(--full-width)) / 2, var(--minimum-inline-padding));

    padding-inline: var(--full-width-padding-inline);
}

.input-box {
    background-color: var(--color-gray-95);

    display: flex;
    align-items: center;
    gap: 2rem;

    padding: 1rem 2rem;

    border-radius: var(--border-radius);

    cursor: text;

    input {
        background-color: transparent;

        border: none;

        &:focus {
            outline: none;
        }
    }
}

.bold {
    font-weight: 700;
}

.fade {
    color: var(--color-fade);
}
