button {
    --primary-color-button: var(--primary-color);

    background-color: var(--button-color);
    color: var(--text-color);

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    block-size: 3em;
    inline-size: 100%;
    aspect-ratio: var(--aspect-ratio);

    padding: 0.5em 0.75em;

    border: solid 1px var(--border-color);
    border-radius: 0.25em;

    font-size: var(--font-size, 1rem);
    font-weight: bold;

    cursor: pointer;

    &.contained {
        --button-color: var(--primary-color-button);
        --text-color: var(--color-gray-98);
    }

    &.outline {
        --border-color: var(--primary-color-super-lighter);
        --text-color: var(--primary-color-button);
    }

    &.text {
        --text-color: var(--primary-color-button);
    }

    &:hover {
        --primary-color-button: var(--primary-color-lighter);
    }

    &:active {
        --primary-color-button: var(--primary-color-darker);
    }
}
