<div class="anchor" [popper]="popperContent" [popperPlacement]="NgxPopperjsPlacements.BOTTOMSTART">
    <i class="far fa-user"></i>
    <i class="far fa-caret-down"></i>
</div>

<popper-content #popperContent>
    <div class="rows">
        <a routerLink="/profile">
            <img [src]="profilePhotoSrc" alt="عکس پروفایل کاربر" loading="lazy" />
            <div class="bold">
                {{ authService.cachedUser?.firstName }}
                {{ authService.cachedUser?.lastName }}
            </div>
            <i class="far fa-arrow-left"></i>
        </a>

        <a routerLink="/profile">
            <i class="far fa-wallet"></i>
            <div>کیف پول</div>
            <div class="suffix">
                <div class="number bold">{{ authService.cachedUser?.credit || 0 }}</div>
                <div class="fade">تومان</div>
            </div>
        </a>

        <a routerLink="/favourite">
            <i class="far fa-heart"></i>
            <div>علاقه‌مندی‌ها</div>
        </a>

        <a routerLink="/bookmark">
            <i class="far fa-bookmark"></i>
            <div>بوکمارک‌ها</div>
        </a>

        <button class="reset" (click)="logout()">
            <i class="far fa-arrow-right-from-bracket"></i>
            <div>خروج از حساب کاربری</div>
        </button>
    </div>
</popper-content>
