<div class="anchor" [popper]="popperContent" [popperPlacement]="NgxPopperjsPlacements.BOTTOMSTART">
    <i class="far fa-user"></i>
    <i class="far fa-caret-down"></i>
</div>

<popper-content #popperContent>
    <div class="rows">
        <a routerLink="/profile">
            <img src="assets/images/default-profile-picture.svg" alt="عکس پروفایل کاربر" />
            <div class="bold">
                {{ authService.cachedUser?.firstName }}
                {{ authService.cachedUser?.lastName }}
            </div>
            <i class="far fa-angle-left"></i>
        </a>

        <a routerLink="/profile">
            <i class="far fa-wallet"></i>
            <div>کیف پول</div>
            <div class="suffix">
                <div class="number bold">0</div>
                <div class="fade">تومان</div>
            </div>
        </a>

        <a routerLink="/wishlist">
            <i class="far fa-heart"></i>
            <div>علاقه‌مندی‌ها</div>
        </a>

        <a routerLink="/orders">
            <i class="far fa-shopping-bag"></i>
            <div>خریداری‌شده</div>
        </a>

        <button class="reset" (click)="logout()">
            <i class="far fa-arrow-right-from-bracket"></i>
            <div>خروج از حساب کاربری</div>
        </button>
    </div>
</popper-content>
