.wrapper {
    color: var(--color-default-text);

    display: grid;
    place-items: center;

    block-size: 100%;

    .auth {
        background-color: var(--color-background-20);

        block-size: fit-content;
        min-inline-size: 22rem;
        inline-size: 30%;

        border-radius: var(--border-radius-small);

        app-logo {
            inline-size: 9rem;

            margin-inline: auto;
        }

        .form-wrapper {
            display: flex;
            flex-direction: column;

            block-size: 100%;
            inline-size: 100%;

            padding: 1rem;
        }

        app-register,
        app-login {
            block-size: 100%;
        }

        .auth-switcher {
            color: var(--color-gray-98);
            
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 0.25rem;

            font-size: 0.8rem;
            
           * {
                opacity: 0.8;
            }

            p {
                font-size: 0.9rem;
            }

            button,a {
                background-color: transparent;
                color: var(--color-default-text);

                font-size: 0.8rem;

                &:hover{
                    opacity: 1;
                }
            }
            
            a {
                margin-inline-start: auto;
                padding-inline-end: 1rem;

                text-decoration: none;
            }
        }
    }
}
