<div class="wrapper">
    <div class="auth">
        <app-switch
            trueOptionTitle="ورود"
            falseOptionTitle="ثبت‌نام"
            [(value)]="isInLoginView"
            (valueChange)="resetFields()"
        ></app-switch>

        <ng-container *ngIf="isInLoginView; else register">
            <app-login></app-login>
        </ng-container>

        <ng-template #register>
            <app-register></app-register>
        </ng-template>

        <img src="assets/images/auth-bg.webp" />
    </div>
</div>
