.wrapper {
    color: var(--color-default-text);

    display: grid;
    place-items: center;

    block-size: 100%;

    .auth {
        background-color: var(--color-background-lighter);

        min-block-size: 25rem;

        block-size: 70%;

        min-inline-size: 20rem;

        inline-size: 30%;

        border-radius: var(--border-radius-more);

        .form-wrapper {
            display: flex;
            flex-direction: column;

            block-size: 100%;
            inline-size: 100%;

            padding: 1rem;
        }

        app-register,
        app-login {
            block-size: 100%;
        }

    }
}
