<div class="wrapper">
    <div class="auth">
        <div class="form-wrapper">
            <h1>{{ isInLoginView ? 'ورود' : 'ثبت نام' }}</h1>

            <ng-container *ngIf="isInLoginView; else register">
                <app-login></app-login>
            </ng-container>

            <ng-template #register>
                <app-register></app-register>
            </ng-template>

            <div class="auth-switcher">
                <p>{{ isInLoginView ? 'حساب کاربری ندارید؟' : 'حساب کاربری دارید؟' }}</p>
                <button (click)="toggleIsInLoginView()">
                    {{ isInLoginView ? 'ثبت نام کنید!' : 'وارد شوید!' }}
                </button>
                <a routerLink="/"> بازگشت </a>
            </div>
        </div>
    </div>
</div>
