form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    block-size: 100%;
    inline-size: 100%;

    padding-block: 1rem;

    .first-last-name {
        display: flex;
        gap: 0.5rem;

        app-input {
            inline-size: 100%;
        }
    }

    .button-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;

        margin-block-start: 1rem;

        app-button {
            width: 100%;
        }
    }
}
