form {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    block-size: 100%;
    inline-size: 100%;

    padding-block: 1rem;

    .first-last-name {
        display: flex;
        gap: 0.5rem;
    }

    .button-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin-block-start: 1rem;

        app-shiny-button {
            margin-inline: auto;
        }
    }
}
