.back-img {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;

}
.back-img img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;

}
#app{
 background-image: url("/assets/images/background-pic.png");
  background-size: cover;
  background-attachment: fixed;
}