.wrapper {
    display: flex;
    flex-direction: column;

    width: 20%;

    :nth-child(1n) {
        color: var(--color-gray-90);

        text-decoration: none;
    }

    button {
        background-color: var(--color-gray-40);

        cursor: pointer;
    }
}
