.content-wrapper {
    --spacing: 2.5rem;

    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    padding-block: 4rem;

    text-align: center;

    h2 {
        color: var(--color-default-text);

        padding-block-end: 1rem;

        border-bottom: var(--color-default-text) solid;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        align-content: space-around;
        gap: 1.5rem;

        li {
            transition: transform 300ms;

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 0.5rem;

                text-decoration: none;

                img {
                    inline-size: 100%;
                    aspect-ratio: 2 / 3;
                    object-fit: cover;

                    padding-block: 0.25rem;

                    border-radius: var(--border-radius-medium);
                }

                p {
                    color: var(--color-background-85);

                    overflow: hidden;

                    width: 100%;

                    font-size: 1rem;

                    text-align: start;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            &:hover {
                transform: translateY(-2.5%);
            }
        }
    }
}
