@mixin orientation($top, $right, $margin) {
    @if $top {
        inset-block-start: $margin;
    } @else {
        inset-block-end: $margin;
    }
    @if $right {
        inset-inline-start: $margin + 4.25rem;
    } @else {
        inset-inline-end: $margin;
    }
}

div {
    background: var(--color-gray-90);

    position: fixed;

    display: flex;
    align-items: center;
    gap: 1.5rem;

    padding: 0.5rem 1rem;

    border-radius: 0.5rem;

    transition: transform 300ms ease-in;

    @include orientation(false, false, 1rem);

    i {
        color: hsl(0deg 73% 41%);

        font-size: 2rem;
        font-weight: 800;

        cursor: pointer;

        &:hover {
            opacity: 0.75;
        }
    }
}

.hidden {
    transform: translateX(calc(-100% - 1rem));
}
