div {
    --margin: 1rem;

    background-color: var(--snackbar-background-color, var(--color-body-background));
    color: var(--snackbar-color, var(--color-body-foreground));

    position: fixed;
    inset-block-end: var(--margin);
    inset-inline-end: var(--margin);

    display: flex;
    align-items: center;
    gap: 1.5rem;

    padding: 0.5rem 1rem;

    border-radius: var(--border-radius-small);

    transition: transform 100ms ease-in;

    i {
        color: var(--color-error);
        opacity: 0.75;

        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    &.hidden {
        transform: translateX(calc(-100% - var(--margin)));
    }

    &.primary {
        --snackbar-background-color: var(--color-primary-opposite);
        --snackbar-color: var(--color-primary-darker);
    }

    &.info {
        --snackbar-background-color: var(--color-info-opposite);
        --snackbar-color: var(--color-info-darker);
    }

    &.success {
        --snackbar-background-color: var(--color-success-opposite);
        --snackbar-color: var(--color-success-darker);
    }

    &.warning {
        --snackbar-background-color: var(--color-warning-opposite);
        --snackbar-color: var(--color-warning-darker);
    }

    &.danger {
        --snackbar-background-color: var(--color-danger-opposite);
        --snackbar-color: var(--color-danger-darker);
    }
}
