@import "pallete";

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    background-color: var(--color-background);

    scroll-behavior: smooth;

    font-family: Vazirmatn, sans-serif;
}

.stack {
    position: relative;

    > .item {
        position: absolute;
    }
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
    font-family: inherit;
}

input {
    background-color: hsl(0deg 0% 100%);

    block-size: 1.5rem;

    inline-size: 25rem;

    padding: 1rem 0.5rem;

    border: none;
    border-radius: 0.5rem;

    font-weight: bold;
}

input:focus {
    outline: none;
}

.input-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 0.5rem;

    cursor: text;

    i {
        color: hsl(16deg 100% 66%);

        font-size: 1.5rem;
    }
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
}

svg {
    display: block;

    block-size: 1em;

    inline-size: 1em;
    fill: currentcolor;
}

.fade {
    color: var(--color-fade);
}

.shiny-button {
    --gradient-color-1: hsl(22deg 100% 57%);
    --gradient-color-2: hsl(10deg 95% 53%);

    background-color: initial;
    color: hsl(0deg 0% 100%);

    position: relative;
    z-index: 0;

    inline-size: fit-content;

    padding: 1em 1.5em;

    border-style: none;

    font-size: 15px;
    font-weight: bold;

    cursor: pointer;

    &::before,
    &::after {
        border-radius: 2em;
    }

    &::before {
        content: "";

        background-image: linear-gradient(90deg, var(--gradient-color-1) 0, var(--gradient-color-2) 100%);

        position: absolute;
        inset-block-start: 0;
        inset-inline-end: 0;
        z-index: -2;

        block-size: 100%;

        inline-size: 100%;
    }

    &::after {
        content: "";

        background-image: linear-gradient(hsl(10deg 70% 19%) 0, hsl(180deg 4% 5%) 100%);

        position: absolute;
        inset: 0.25rem;
        z-index: -1;
    }

    &:hover:not(:disabled) {
        &::before {
            background: linear-gradient(90deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 100%);
        }

        &::after {
            opacity: 0;

            inset: 0;
        }
    }

    &:active:not(:disabled) {
        color: hsl(0deg 0% 80%);

        &::before {
            background-image: linear-gradient(0deg, hsl(0deg 0% 0% / 20%), hsl(0deg 0% 0% / 20%)),
                linear-gradient(90deg, var(--gradient-color-1) 0, var(--gradient-color-2) 100%);
        }

        &::after {
            background-image: linear-gradient(hsl(10deg 70% 19%) 0, hsl(180deg 4% 5%) 100%);

            inset: 0.25rem;
        }
    }
}
