@import url("pallete.scss");

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-image: url("assets/images/background-pic.png");
    background-size: cover;
    background-attachment: fixed;
}
.stack {
    position: relative !important;

    > .item {
        position: absolute !important;
    }
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
    font-family: inherit;
}

input {
    width: 25rem;
    height: 1.5rem;
    background-color: hsl(0, 2%, 80%);
    border-radius: 0.5rem;
    font-family: Noto sans Arabic, serif;
    font-weight: bold;
    padding: 1rem 0.5rem;
    border: none;
}

input:focus {
    outline: none;
}

.input-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: text;

    i {
        color: hsl(16, 100%, 66%);
        margin-left: 0.5rem;
        font-size: 1.5rem;
    }
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
}

svg {
    fill: currentColor;

    display: block;

    width: 1em;
    height: 1em;
}

.fade {
    color: var(--color-fade);
}
