@import "pallete";

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    background-color: var(--color-background-8);

    block-size: 100%;

    scroll-behavior: smooth;

    font-family: Vazirmatn, sans-serif;
}

body {
    block-size: 100%;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
    font-family: inherit;
}

input {
    border: none;

    outline: none;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
}

svg {
    fill: currentcolor;

    display: block;

    block-size: 1em;
    inline-size: 1em;
}

button {
    border: none;

    white-space: nowrap;

    cursor: pointer;
}

.fade {
    color: var(--color-fade);
}

popper-content {
    /* stylelint-disable selector-class-pattern */
    .ngxp__container {
        background-color: var(--color-background-20);
        color: var(--color-gray-98);

        overflow: hidden;
        z-index: 1;

        padding: 0;

        border: 0;
        border-radius: var(--border-radius-small);

        > .ngxp__arrow {
            &::before {
                background-color: var(--color-background-20);
            }
        }
    }

    &.no-arrow {
        .ngxp__container > .ngxp__arrow {
            display: none;
        }
    }
    /* stylelint-enable selector-class-pattern */
}

@mixin max-lines($lines) {
    overflow: hidden;

    display: inline;
    /* stylelint-disable value-no-vendor-prefix */
    display: -webkit-box;
    /* stylelint-enable value-no-vendor-prefix */

    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}
