@import "pallete";

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    background-attachment: fixed;
    background-color: hsl(238deg 59% 30%);
    background-size: cover;

    scroll-behavior: smooth;

    font-family: Vazirmatn, sans-serif;
}

.stack {
    position: relative;

    > .item {
        position: absolute;
    }
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
    font-family: inherit;
}

input {
    background-color: hsl(0deg 2% 80%);

    width: 25rem;
    height: 1.5rem;

    padding: 1rem 0.5rem;

    border: none;
    border-radius: 0.5rem;

    font-weight: bold;
}

input:focus {
    outline: none;
}

.input-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: text;

    i {
        color: hsl(16deg 100% 66%);

        margin-left: 0.5rem;

        font-size: 1.5rem;
    }
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
}

svg {
    fill: currentcolor;

    display: block;

    width: 1em;
    height: 1em;
}

.fade {
    color: var(--color-fade);
}

.shiny-button {
    --gradient-color-1: hsl(22deg 100% 57%);
    --gradient-color-2: hsl(10deg 95% 53%);

    background-color: initial;
    color: hsl(0deg 0% 100%);

    position: relative;

    padding: 19px 26px;

    border-style: none;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    &::before,
    &::after {
        border-radius: 999px;
    }

    &::before {
        content: "";

        background-image: linear-gradient(92.83deg, var(--gradient-color-1) 0, var(--gradient-color-2) 100%);

        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;

        width: 100%;
        height: 100%;
    }

    &::after {
        content: "";

        background-image: linear-gradient(hsl(10deg 70% 19%) 0, hsl(180deg 4% 5%) 100%);

        position: absolute;
        inset: 4px;
        z-index: -1;
    }

    &:hover:not(:disabled) {
        &::before {
            background: linear-gradient(92.83deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 100%);
        }

        &::after {
            opacity: 0;

            inset: 0;
        }
    }

    &:active:not(:disabled) {
        color: hsl(0deg 0% 80%);

        &::before {
            background-image: linear-gradient(0deg, hsl(0deg 0% 0% / 20%), hsl(0deg 0% 0% / 20%)),
                linear-gradient(92.83deg, var(--gradient-color-1) 0, var(--gradient-color-2) 100%);
        }

        &::after {
            background-image: linear-gradient(hsl(10deg 70% 19%) 0, hsl(180deg 4% 5%) 100%);

            inset: 4px;
        }
    }
}
