a {
    color: hsl(0deg 0% 100%);

    display: block;

    padding: 1rem;

    font-size: 2rem;

    text-align: center;
    text-decoration: none;
}

a:hover {
    color: hsl(14deg 69% 58%);
}

.sidenav {
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: fit-content;
    height: 100%;

    border-left: hsl(212deg 43% 50% / 70%) solid;

    .nav:hover {
        color: hsl(356deg 50% 45%);
    }
}
