a {
    text-decoration: none;
    transition: 0.3s;
    font-size: 2rem;
    color: hsl(0, 0%, 51%);
    display: block;
    text-align: center;
    padding: 1rem;
}
a:hover {
    color: hsl(14, 69%, 58%);
}
.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: hsla(244, 49%, 41%, 0.5) solid;
    width: fit-content;
    .nav {
    }
    .all {
    }
    .nav:hover {
        color: hsl(356, 50%, 45%);
    }
    .person {
        a {
        }
    }
}
